	/* Following style is the code to remove arrows/spinners from input type -> TO REMOVE ARROWS FROM NUMBER INPUT */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button 
		{
		   -webkit-appearance: none;
		   margin: 0;
		}
		input[type="number"] 
		{
		   -moz-appearance: textfield;
		}
	/* TO REMOVE ARROWS FROM NUMBER INPUT ENDS*/
