
<template>
	
	<div>
		<div class="vld-parent">
			<loading :active.sync="isLoading" 
			:can-cancel="false"
			loader="dots"
			color="#28a745"
			:is-full-page="fullPage"></loading>
		</div>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>No</th>
					<th width="15%">Product Number</th>
					<th width="20%">Product Name</th>
					<th>Qty</th>
					<th>Net Wt</th>
					<th width="10%">GST(%)</th>
					<th>Price</th>
					<th>Nos</th>
					<th>Total</th>
				</tr>
			</thead>
			<tr v-for="(invoice_product, k) in invoice_products" :key="k">
				<td>{{ k + 1 }}</td>
				<td>
				
					<select class="form-control" @change="getSelectedWithNumber(invoice_product)" name="productNum[]" v-model="invoice_product.product_number">
						<option value="">Select Product Number</option>
						<option v-for="option in products" v-bind:value="option.id">
						{{ option.number }}
						</option>
					</select>
					<span>Balance : {{ invoice_product.balance}}</span>
				</td>
				<td>
					<select class="form-control" @change="getSelected(invoice_product)" name="productIds[]" v-model="invoice_product.product_name">
						<option value="">Select Product Name</option>
						<option v-for="option in products" v-bind:value="option.id">
						{{ option.name }}
						</option>
					</select>
				</td>
				<td>
					<input class="form-control" type="text" name="productGrossWt[]" v-model="invoice_product.product_gross_wt" @change="calculateLineTotal(invoice_product)" />
					<span>{{ invoice_product.unit }}</span>
				</td>
				<td>
					<input class="form-control" type="text" name="productNetWt[]" v-model="invoice_product.product_net_wt" />
				</td>
				<td>
					<input class="form-control" type="text" name="productGst[]" v-model="invoice_product.product_gst" @change="calculateLineTotal(invoice_product)" />
				</td>
				<td>
					<input class="form-control text-right" type="text" min="0" name="productPrice[]" v-model="invoice_product.product_price" @change="calculateLineTotal(invoice_product)"
					/>
				</td>
				<td>
					<input class="form-control text-right" type="text" min="0" name="productQty[]" v-model="invoice_product.product_qty" @change="calculateLineTotal(invoice_product)"
					/>
				</td>
				<td>
					<input readonly class="form-control text-right" name="productSubTotal[]" v-model="invoice_product.line_total" />
				</td>
				<td scope="row" class="trashIconContainer">
					<i class="fa fa-trash" @click="deleteRow(k, invoice_product)"></i>
				</td>
			</tr>
		 </table>
		<button type="button" class="btn btn-info float-right" @click="addNewRow">
			<i class="fa fa-plus-circle"></i>
			Add
		</button>
		<table class="ui celled table">
			<tr>
				<td width="30%">Subtotal</td>
				<td width="30%">{{ decimalDigits(noGstTotal) }}</td>
				<input type="hidden" name="subTotal" :value="decimalDigits(subTotal)" />
			</tr>
			<tr>
				<td width="30%">GST</td>
				<td width="30%">{{ decimalDigits(gstTotal) }}</td>
				<input type="hidden" name="gstTotal" :value="decimalDigits(gstTotal)" />
			</tr>
			<tr>
				<td>
					<label class="control-label" for="city">Discount %</label>
					<input class="form-control col-md-2" type="number" min="0" max="100" name="discountRate" v-model="discountRate" />
				</td>
				<td>{{ decimalDigits(discountTotal) }}</td>
				<input type="hidden" name="discountTotal" :value="decimalDigits(discountTotal)" />
			</tr>
			<tr>
				<td>
					<label class="control-label" for="city">Tax %</label>
					<input class="form-control col-md-2" type="number" min="0" max="100" name="taxRate" v-model="taxRate" />
				</td>
				<td>{{ decimalDigits(taxTotal) }}</td>
				<input type="hidden" name="taxTotal" :value="decimalDigits(taxTotal)" />
			</tr>
			<tr class="text-bold">
				<td>Grand Total</td>
				<td>{{ decimalDigits(grandTotal) }}</td>
				<input type="hidden" name="grandTotal" :value="decimalDigits(grandTotal)" />
			</tr>
		</table>
		<!-- <button type="button" class="btn btn-info float-right" v-on:click="printInvoice"><i class="fa fa-print"></i>Print Invoice</button> -->
	</div>
</template>

<script>
// Import component
import Loading from 'vue-loading-overlay';
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
	props: ['orderid'],
	data () {
		return {
			isLoading: false,
            fullPage: true,
			invoice_subtotal: 0,
			invoice_gsttotal: 0,
			invoice_total: 0,
			invoice_tax: 5,
			decimal_digits: 2,
			taxRate: 0,
            discountRate: 0,
			products:[],
			invoice_products: [{
				product_id: '',
                product_gst: '',
                product_number: '',
				product_name: '',
				product_price: '',
				product_qty: 1,
				product_gross_wt: '',
				product_net_wt: '',
				line_total: 0,
				line_gst: 0,
				balance:0,
				unit:''
			}]
		}
	},
	components: {
		Loading
	},
	methods: {
        saveInvoice() {
            console.log(JSON.stringify(this.invoice_products));
        },
        calculateTotal() {
            var subtotal, total, gstotal;
            subtotal = this.invoice_products.reduce(function (sum, product) {
                var lineTotal = parseFloat(product.line_total);
				if (!isNaN(lineTotal)) {
                    return sum + lineTotal;
                }
            }, 0);
			
			gstotal = this.invoice_products.reduce(function (gst, product) {
                var lineGstTotal  = parseFloat(product.line_gst);
				if (!isNaN(lineGstTotal)) {
                    return gst + lineGstTotal;
                }
            }, 0);

            this.invoice_subtotal = subtotal.toFixed(2);

            total = (subtotal * (this.invoice_tax / 100)) + subtotal;
            total = parseFloat(total);
            if (!isNaN(total)) {
                this.invoice_total = total.toFixed(2);
            } else {
                this.invoice_total = '0.00'
            }
			
			if (!isNaN(gstotal)) {
                this.invoice_gsttotal = gstotal.toFixed(2);
            } else {
                this.invoice_gsttotal = '0.00'
            }
			
        },
        calculateLineTotal(invoice_product) {
            var total = parseFloat(invoice_product.product_price) * parseFloat(invoice_product.product_qty);
			if(invoice_product.product_gross_wt > 0)
				total = parseFloat(invoice_product.product_gross_wt) * total;
			var gst_price = 0;
            if (!isNaN(total)) {
				
                
				if(invoice_product.product_gst > 0) {
					gst_price = total * (invoice_product.product_gst / 100);
				}
				invoice_product.line_gst  = gst_price ;
				invoice_product.line_total = total + gst_price ;
				invoice_product.line_total = invoice_product.line_total.toFixed(2);
            }
            this.calculateTotal();
        },
        deleteRow(index, invoice_product) {
            var idx = this.invoice_products.indexOf(invoice_product);
            //console.log(idx, index);
            if (idx > -1) {
                this.invoice_products.splice(idx, 1);
            }
            this.calculateTotal();
        },
        addNewRow() {
            this.invoice_products.push({
                product_id: '',
                product_gst: '',
                product_number: '',
                product_name: '',
                product_price: '',
                product_qty: 1,
				product_gross_wt: '',
				product_net_wt: '',
                line_total: 0,
				line_gst: 0,
				balance:0,
				unit:''
            });
        },
		decimalDigits: function(value) {
			return value.toFixed(this.decimal_digits);
		},
		printInvoice: function() {
			window.print();
		},
		getSelectedWithNumber(invoice_product){
			axios.get('/admin/products/details/'+invoice_product.product_number)
			.then((response) => {
				if(response.data.product.sale_price > 0)
				invoice_product.product_price = response.data.product.sale_price;
				else
				invoice_product.product_price = response.data.product.price;
				
				invoice_product.product_gst = response.data.product.gst_rate;
				invoice_product.product_name = response.data.product.id;
				invoice_product.product_gross_wt = response.data.product.gross_weight;
				invoice_product.product_net_wt = response.data.product.net_weight;
				invoice_product.balance = response.data.product.balance;
				invoice_product.unit = response.data.product.unit;
				this.calculateLineTotal(invoice_product);
				
			})
			.catch(function (error) {
				console.log(error)
			});
		},
		getSelected(invoice_product){
			axios.get('/admin/products/details/'+invoice_product.product_name)
			.then((response) => {
				if(response.data.product.sale_price > 0)
				invoice_product.product_price = response.data.product.sale_price;
				else
				invoice_product.product_price = response.data.product.price;
				
				invoice_product.product_gst = response.data.product.gst_rate;
				invoice_product.product_name = response.data.product.id;
				invoice_product.product_number = response.data.product.id;
				invoice_product.product_gross_wt = response.data.product.gross_weight;
				invoice_product.product_net_wt = response.data.product.net_weight;
				invoice_product.balance = response.data.product.balance;
				invoice_product.unit = response.data.product.unit;
				this.calculateLineTotal(invoice_product);
			})
			.catch(function (error) {
				console.log(error)
			});
		},
    },
	computed: {
		noGstTotal: function() {
			/*var total = this.invoice_products.reduce(function(accumulator, invoice_product) {
				return accumulator + (invoice_product.product_price * invoice_product.product_qty);
				//return accumulator + invoice_product.line_total;
			}, 0)*/
			return parseFloat(this.invoice_subtotal - this.invoice_gsttotal);
		},
		subTotal: function() {
			/*var total = this.invoice_products.reduce(function(accumulator, invoice_product) {
				return accumulator + (invoice_product.product_price * invoice_product.product_qty);
				//return accumulator + invoice_product.line_total;
			}, 0)*/
			return parseFloat(this.invoice_subtotal);
		},
		gstTotal: function() {
			return parseFloat(this.invoice_gsttotal);
		},
		discountTotal: function() {
			var total = this.subTotal * (this.discountRate / 100);
			return total;
		},
		taxTotal: function() {
			var total = (this.subTotal - this.discountTotal) * (this.taxRate / 100);
			return total;
		},
		grandTotal: function() {
			var total = (this.subTotal - this.discountTotal) + this.taxTotal;
			return total;
		}
	},
	created(){
		this.isLoading = true;
		axios.get('/admin/products/list')
		.then((response) => {
			this.products = response.data;
			this.isLoading = false
			
		})
		.catch(function (error) {
			console.log(error)
		});
		
		if(this.orderid > 0){
			this.isLoading = true;
			axios.get('/admin/orders/details/'+this.orderid)
			.then((response) => {
				this.invoice_products 	= response.data.orderItems;
				this.taxRate 			= response.data.payments.gst_rate;
				this.discountRate 		= response.data.payments.discount_rate;
				this.calculateTotal();
				this.isLoading = false
			})
			.catch(function (error) {
				console.log(error)
			});
		}
		
		
	},
	mounted(){
		
	
	}
	
}
</script>