<template>
	<div>
		<div class="form-group">
			<label class="control-label" for="mobile">Enter Mobile Number</label>
			<span v-if="showOtp"  @click="editNumber()" class="text-danger">Edit</span>
			<input
				class="form-control"
				type="text"
				placeholder="Enter mobile number"
				id="mobile"
				name="mobile"
				maxlength="10"
				v-bind:readonly="isReadOnly"
				v-model="mobile"
			/>
			
			<div v-if="errors && errors.mobile" class="text-danger">{{ errors.mobile[0] }}</div>
		</div>
		<div class="form-group" v-if="showOtp">
			<label class="control-label" for="otp">Enter Otp</label>
			<input
				class="form-control"
				type="text"
				placeholder="Enter otp"
				id="otp"
				name="otp"
				maxlength="6"
				v-model="otp"
			/>
			<div v-if="errors && errors.otp" class="text-danger">{{ errors.otp[0] }}</div>
		</div>
		<div v-if="smessage" class="text-success">{{ smessage }}</div>
		<div v-if="emessage" class="text-danger">{{ emessage }}</div>
		<button v-if="!showOtp" type="button" @click="register()" class="default-btn">Proceed</button>
		<button v-if="showOtp" type="button" @click="confirmOtp()" class="default-btn">Proceed</button>
		
	</div>
</template>

<script>
    export default {
        data() {
            return {
                mobile: '',
                otp: '',
				showOtp:false,
				errors: {},
				smessage:'',
				emessage:'',
				isReadOnly:false
            }
        },
        methods: {
            register() {
				let _this = this;
				_this.errors = {};
				_this.emessage = '';
				axios.post('/signin', {
					mobile:_this.mobile
				}).then (function(response){
					_this.smessage = response.data.message;
					_this.showOtp = true;
					_this.isReadOnly = true;
				}).catch(function (error) {
					if(error.response.data.errors){
						_this.errors = error.response.data.errors || {};
					}else{
						_this.emessage = error.response.data.message;
					}
				});
            },
			confirmOtp() {
				let _this = this;
				_this.errors = {};
				_this.message = '';
				axios.post('/verify-otp', {
					mobile: _this.mobile,
					otp: _this.otp
				}).then (function(response){
					window.location.href = '/';
				}).catch(function (error) {
					_this.smessage = '';
					if(error.response.data.errors){
						_this.errors = error.response.data.errors || {};
					}else{
						_this.emessage = error.response.data.message;
					}
				});
            },
			
			editNumber() {
				let _this = this;
				_this.isReadOnly = false;
				_this.showOtp = false;
				_this.smessage = '';
				_this.emessage = '';
				_this.otp = '';
			}
        }
    }
</script>
